<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.css" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.css}">
    <link rel="stylesheet" href="../../static/bootstrap-table/bootstrap-table.css" th:href="@{/bootstrap-table/bootstrap-table.css}">
    <link rel="stylesheet" href="../../static/select2/css/select2.min.css" th:href="@{/select2/css/select2.min.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <h2>生成模块</h2>
        <!-- 按钮触发模态框 -->
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            代码生成
        </button>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            代码生成
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="txt_author">创建人</label>
                                <input type="text" class="form-control" id="txt_author" placeholder="创建人">
                            </div>
                            <div class="form-group">
                                <label for="txt_fix_table">表前缀</label>
                                <input type="text" class="form-control" id="txt_fix_table" placeholder="表前缀">
                            </div>
                            <div class="form-group">
                                <label for="txt_tablename">表名</label>
                                <input type="text" class="form-control" id="txt_tablename" placeholder="表名">
                            </div>
                        </form>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <table id="tb_generator"></table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="button" class="btn btn-primary">
                            提交执行
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
</div>

<script src="../static/jQuery/jquery-3.3.1.min.js" th:src="@{/jQuery/jquery-3.3.1.min.js}"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="../static/bootstrap-3.3.7-dist/js/bootstrap.js" th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.js}"></script>
<script src="../../static/bootstrap-table/bootstrap-table.js" th:src="@{/bootstrap-table/bootstrap-table.js}"></script>
<script src="../../static/bootstrap-table/locale/bootstrap-table-zh-CN.js" th:src="@{/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
<script src="../../static/select2/js/select2.min.js" th:src="@{/select2/js/select2.min.js}"></script>
<script src="../../static/select2/js/i18n/zh-CN.js" th:src="@{/select2/js/i18n/zh-CN.js}"></script>
<script src="../../static/project/js/common.js" th:src="@{/project/js/common.js}"></script>
<script src="../../static/project/tablepage/generator.js" th:src="@{/project/tablepage/generator.js}"></script>
</body>
</html>